.search-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-bar {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border-color: aqua;
  border-style: solid;
  border-width: 3px;
}
