/* 
  em unit is relative to the parent (font included) size, so if the parent is 10px, 2em would be 20px
  rem (root em) relative the root (font included) size (the <html>)
  */
.note {
  background-color: yellowgreen;
  margin-bottom: 1em; /*Margin is add space around the element*/
  border-radius: 1rem; /*Border radius is to rounds the corner of the element border edge*/ 
  padding: 1rem;      /* padding is to add space around the content in the element*/
  /*width: 60vw;        /* witdh with vw (viewport width) is  a unit of measurement to define the size of the element relative to the size of the viewport*/
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute items evenly. The first item is flush with the start, the last is flush with the end */
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon:hover {
  color: gray;
  cursor: pointer;
}